<% include ./partials/header.ejs %>
<div class="text-center container">
	<h2>Welcome to There Again!</h2> 
	<p>We took a binary approach to business reviews, eliminating the subjectivity of most 1-5 scale rating systems</p>
	<p>Instead, we ask you one simple question.. "Would you go There Again?".</p>
	<img id="homePhoto" class="img-fluid" src="./images/pexels-photo-157264.jpeg">
</div>
<% include ./partials/footer.ejs %>