<% include ./partials/header.ejs %>

<h2>Search for the businesses you want to add to your profile here!</h2>

<hr>

<form id="searchForm" method="GET" action="/searchResults">
  <div class="form-group">
    <label for="businessName">Business Name</label>
    <input class="form-control" type="text" name="businessName" id="businessName" placeholder="General Assembly">
  </div>

  <div class="form-group">
    <label for="businessCity">City</label>
    <input class="form-control" type="text" name="businessCity" id="businessCity" placeholder="Denver, CO">
  </div>

  <input class="btn btn-default" type="submit">
</form>

<% include ./partials/footer.ejs %>