* {
	font-family: Helvetica Neue;
}

#homePhoto {
	max-width: 75%;
	max-height: 400px;
}

body {
	background-color: #FFEE98;
	background-image: linear-gradient(152deg, #FFEE98 0%, #F15C4F 74%);
}

.container-fluid {
	min-height: 100vh;
}

.panel {
	background-color: #008C8C;
}